.App {
  text-align: center;
}

.heading-title {
  position: absolute;
  color: white;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.slider {
  background-color: #222;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.testimonials .item {
  flex: 0 0 10%;
  margin: 0 5px;
  width: 20%;
  height: 225px;
  border-radius: 5px;
  background-color: green;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
  transition: transform 0.4s;
}

.testimonials .item.active {
  transform: scale(1.1);
  z-index: 2;
}

.testimonials .item:not(.active) {
  transform: translateY(-20%) perspective(200px) rotateY(-180deg) scale(0.9);
  background-image: url(https://www.pngkit.com/png/full/241-2416981_pokemon-card-back-png-pokemon-tcg-card-back.png);
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.buttons {
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button,
.next-button {
  margin-top: 20px;
}

.prev-button {
  margin-right: 10px;
}
